
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #70C1EC;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-weight: 500;
}

#banner {
    border-radius: 0;
    border: 0;
}

.bannerimg {
    height: 400px;
    width: auto;
    border-radius: 0;
}

#mainTitle {
    height: 80%;
    font-size: 4em;
}

.typeWriter {
    text-align: center;
    font-size: 2em;
    transform: translateY(-100px);
}

.projectHeading{
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectBox {
    height: 350px;
    width: 800px;
    text-align: center;
    font-weight: 300;
    margin: 10px 20px;
    padding: 20px;
    background-color: #016074;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.projectBox:hover {
    border: 2px solid white;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    cursor: pointer;
    transform: scale(1.05);
}

.navbar.scrolled {
    background-color: #70C1EC;
    transition: background 0.5s;
}

@media(max-width: 1500px) {
    .projectText {
        font-size: 1.05em;
    }
}

@media(max-width: 1200px) {
    .projectText {
        font-size: 1.2em;
    }
    .projectHeading {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .projectBox{
        height: 315px;
    }
}

@media(max-width: 650px) {
    .projectText {
        font-size: 1.00em;
    }
    #banner #mainTitle {
        font-size: 3em;
    }
    .projectBox {
        height: 300px;
        margin-bottom: 10px;
    }
    .bannerimg {
        height: 350px;
        width: auto;
    }
    .typeWriter {
        font-size: 1.7em;
        transform: translateY(-75px);
    }
    .projectHeading {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}






